
.container-home-header{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.home-header_item{

    font-size: 10vh;
    text-shadow: 0.06vh 0.3vh gray;
    padding: 3vw;
    text-align: center;
   
}
.container-home-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 4.1vh;
    
}
.item_parrafo{
    text-align: center;
    font-size: 3.5vh;
    padding-top: 1vh;
}
.item_user{
    margin-top: 1vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-login, .container-register{
    border: 0.2vw solid gray;
    border-radius: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1vh;
    height: max-content;
}
.login_item1, .register_item1{
    font-size: 5vh;
    padding: 1vw;
    width: 40vh;
    margin-left: 1vh;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
    
}

.login_item2, .register_item2{
    width: 45vh;
    margin-left: 1vh;
    font-size: 3vh;
    margin-top: 2.5vh;
    text-align: center;
    margin-bottom: 1vh;;
}

.register_item3{
    width: 15vh;
    margin-top: 1vh;
    margin-left: 15vh;
    
}
.register_item4{
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border: 0.2vw solid grey;
    width: max-content;
    padding: 1vh;
    font-size: 4vh;
    border-radius: 1vh;
    padding: 2vh;
}

.register_item4{
    margin-left: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.register_item4:hover{
    background-color: #D3D3D3;
    border: 0.2vw solid lightblue;
}

.home-footer{
    background-color: lightblue;
    padding: 1vh;
    display:flex;
    justify-content: flex-end;
    margin-top: 1vh;
}
.footer_item{
    background-color: lightblue;
    margin-right: 1.5vh;
}